<web-app>

<servlet>

<servlet-name>About</servlet-name>
<servlet-class>About</servlet-class>

</servlet>

<servlet-mapping>

<servlet-name>About</servlet-name>
<url-pattern>/about</url-pattern>

</servlet-mapping>

<servlet>

<servlet-name>Work</servlet-name>
<servlet-class>Work</servlet-class>

</servlet>

<servlet-mapping>

<servlet-name>Work</servlet-name>
<url-pattern>/work</url-pattern>

</servlet-mapping>

<servlet>

<servlet-name>Education</servlet-name>
<servlet-class>Education</servlet-class>

</servlet>

<servlet-mapping>

<servlet-name>Education</servlet-name>
<url-pattern>/education</url-pattern>

</servlet-mapping>

</web-app>
